.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.5s;
}

.navbar.hidden {
  top: -250px;
}

.container {
  user-select: none;
}

.glowing-svg {
  filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff) drop-shadow(0 0 15px #00bcd4) drop-shadow(0 0 20px #ff3d00) drop-shadow(0 0 30px #ff3d00) drop-shadow(0 0 40px #ff3d00) drop-shadow(0 0 50px #ff3d00) drop-shadow(0 0 75px #ff3d00);
}

.glowing-svg path {
  fill: #ff3d00;
}

  .estudio-text {
    color: white; 
    margin-top: 0;
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #00bcd4, 0 0 8px #ff3d00, 0 0 10px #ff3d00, 0 0 12px #ff3d00, 0 0 20px #ff3d00;
  }

.video-section {
    position: relative;
    height: 100vh; 
    overflow: hidden;
 }

 .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
  }