body::before {
    display: block;
    content: '';
    height: 90px;
}

body {
    font-family: 'Rethink Sans', sans-serif;
}

@media (max-width: 768px) {
  #agendar .col.text-center.justify-content-center {
    height: auto;
  }
  #agendar .col.text-center.justify-content-center > div {
    margin-bottom: 20px;
  }
  #agendar .col-md.d-flex.justify-content-center {
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 769px) {
  #agendar .row {
    align-items: center;
  }
}

.container i {
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

@media (max-width: 700px) {
  .lead {
    font-size: 90%;
  }

  .container i {
    font-size: 90%;
  }
}

.last-card {
  flex-grow: 1;
  min-width: 0;
}



.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.5s;
}

.navbar.hidden {
  top: -250px;
}

#queobtendras {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 9%, rgba(230,190,197,1) 100%);
}

#cuidadosvirtuales {
  background: rgb(230,190,197);
  background: linear-gradient(180deg, rgba(230,190,197,1) 0%, rgba(230,190,197,1) 89%, rgba(157,193,228,1) 100%);
}

#sobremi {
  background: #9DC1E4;
}

#docencia2 {
  background: rgb(244,180,117);
  background: linear-gradient(180deg, rgba(244,180,117,1) 0%, rgba(244,180,117,1) 59%, rgba(249,217,184,1) 81%, rgba(255,255,255,1) 100%);
}

.btn-instagram {
  background-color: #DC446D;
  color: white;
}

.btn-instagram:hover {
  background-color: #b33a5a; /* Replace with the desired darker color */
}

.btn-agendar a {
  color: white;
  text-decoration: none;
}

.btn-agendar i {
  color: white;
}

.btn-agendar:hover {
  background-color: #1ab5d4;
}

#calendly-embed {
  min-width: 520px;
  height: 600px;
}

@media (max-width: 550px) {
  #calendly-embed {
    min-width: 460px;
    height: 600px;
  }

  #logo-navbar {
    width: 75%;
  }
}

@media (max-width: 435px) {
  #calendly-embed {
    min-width: 300px;
    height: 600px;
  }


  #logo-navbar {
    width: 50%;
  }

  #button-navbar {
    margin-top: 10px;
  }
}

i {
  margin-right: 20px;
}

.calendly-spinner {
  display: none;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.5s all ease;
}
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  #docencia {
  color: white;
	-webkit-text-stroke: 0.5px #F8F8F8;
	text-shadow: 1px 4px 4px #23430C;
  }


  /* Bordes */

  .striped-border  {
    border-top: 10px ridge #74acdc;
    border-right: 10px ridge #74acdc;
    border-bottom: 10px ridge #f4b475;
    border-left: 10px ridge #f4b475;
    border-radius: 20px;
  }

  .gusanito-border {
    font-size: 24px;
    border:10px solid black;
    padding: 2rem 1rem;
    min-height: 3em;
    resize: both;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='2' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
  }

   .movedizo-border {
    position:relative;
    transition:all 1s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid #74acdc;
      border-left:5px solid #f4b475;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid #74acdc;
      border-right:5px solid #f4b475;
    }

    &:active{
      &:before,&:after{
        width:100%;
        height:100%;
      }
    }
  }

  .box-border {
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 28px 30px 15px 30px;
    border-radius: 5px;
  }

  .box-border.piel {
    box-shadow:
      inset #e49ba8 0 0 0 5px, 
      inset #e4a4b0 0 0 0 1px, 
      inset #e4a6b2 0 0 0 10px, 
      inset #e2abb6 0 0 0 11px, 
      inset #dfb0b9 0 0 0 16px, 
      inset #ddb2ba 0 0 0 17px, 
      inset #dabcc1 0 0 0 21px, 
      inset #d4c2c6 0 0 0 22px;
  }

  .box-border.azul {
    box-shadow:
      inset #95abda 0 0 0 5px, 
      inset #9cadd3 0 0 0 1px, 
      inset #a1aecc 0 0 0 10px, 
      inset #a8b3cc 0 0 0 11px, 
      inset #abb4c9 0 0 0 16px, 
      inset #b1b8c9 0 0 0 17px, 
      inset #b1b8c9 0 0 0 21px, 
      inset #b8bdc9 0 0 0 22px;
  }

  .box-border.naranjo {
    box-shadow:
      inset #cf9a64 0 0 0 5px, 
      inset #d4a575 0 0 0 1px, 
      inset #d8ad81 0 0 0 10px, 
      inset #dcb58d 0 0 0 11px, 
      inset #e0bd99 0 0 0 16px, 
      inset #e3c4a4 0 0 0 17px, 
      inset #e4c19d 0 0 0 21px, 
      inset #e4c19d 0 0 0 22px;
  }

  

  