.qr-img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.outfit-700 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(1.4rem, 4.8vw, 1.9rem);
    color: hsl(218, 44%, 22%);
}

.outfit-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1rem, 4vw, 1.4rem); 
    color: hsl(220, 15%, 55%);
}

      
.container {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-card {
    background-color: #fff;
    box-shadow: 1px 1px 100px hsl(222, 71%, 89%);
    max-width: 450px;
    padding: 20px;  
    text-align: center; 
}

.qr-img {
    max-width: 100%;
    height: auto;
    max-height: 60vh;
}

.container-text {
    padding: 38px 20px 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}